.navbar {
  background-color: white; /* Sets the background color to white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle drop shadow */
  padding: 10px 35px; /* Increase padding for more space around the items */
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: start; /* Align items to the start of the container */
  margin: 0 auto; /* Centers nav-container within the navbar */
}

.navbar-logo {
  margin-bottom: 25px;
  cursor: pointer;
}

.navbar-logo .logo {
  width: 90px; /* Adjust width as needed */
  height: auto; /* Adjust height to maintain aspect ratio */
  cursor: pointer; /* Changes cursor to indicate it's clickable */
  margin-top: 15px;
}

.optionBrew-Name {
  font-size: 2.5em; /* Increase font size */
  font-weight: 700; /* Maintain bold font-weight */
  margin: 0 30px 0 10px; /* Adjust margin to space out the brand name */
  cursor: pointer;
}

.highlighted-word {
  color: #2e1d07;
  font-weight: 900;
  transition: color 0.3s ease;
}

.quick-links {
  display: flex;
  align-items: center;
}

.quick-link {
  text-decoration: none;
  color: #000000; /* Text color */
  font-size: 1.7em; /* Increase font size for links */
  font-weight: bold; /* Bold font for links */
  margin: 0 20px; /* Evenly space links */
  padding: 10px 0; /* Padding for clickable area */
}

/* If you want a hover effect for the links */
.quick-link:hover {
  color: #555; /* Subtle change for hover */
}

.active-link {
  color: #5e3c0f;
}

.active-link:hover {
  color: #ac8c62;
}

@media (max-width: 768px) {
  .navbar-logo .logo {
    width: 60px; /* Smaller logo for mobile */
  }

  .optionBrew-Name {
    font-size: 1.5em; /* Smaller text for mobile */
  }

  .quick-link {
    font-size: 1em; /* Smaller text for mobile */
    margin: 0 10px; /* Less space between links on mobile */
  }

  /* Adjust padding for smaller screens */
  .navbar {
    padding: 10px 20px;
  }
}
