/* Navbar Styles */
.navbar {
  background-color: #1e1e1e; /* Dark background for navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* More pronounced drop shadow for depth */
  padding: 10px 35px; /* Padding around the items */
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 0 auto;
}

.navbar-logo {
  cursor: pointer; /* Indicates logo is clickable */
  display: flex; /* Makes logo align properly with the text */
  align-items: center; /* Centers logo vertically */
}

.navbar-logo .logo {
  width: 90px; /* Keep logo width consistent */
  height: auto; /* Maintain aspect ratio */
  margin-right: 15px; /* Space between logo and brand name */
}

.optionBrew-Name {
  font-size: 2em; /* Adjust font size to match new theme */
  color: #ffffff; /* Light text color for visibility */
  cursor: pointer; /* Indicates name is clickable */
}

.highlighted-word {
  color: #82ca9d; /* Accent color to match the theme */
}

.quick-links {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push links to the right */
}

.quick-link {
  text-decoration: none;
  color: #cccccc; /* Light grey color for links */
  font-size: 1.2em; /* Adjust font size for better legibility */
  font-weight: 500; /* Weight adjustment for legibility */
  margin: 0 15px; /* Adjust spacing between links */
  padding: 10px; /* Padding for clickable area */
  transition: color 0.3s; /* Smooth transition for color change */
}

.quick-link:hover,
.quick-link:focus {
  color: #82ca9d; /* Bright color for hover/focus */
}

.active-link {
  color: #82ca9d; /* Accent color for the active link */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .navbar-logo .logo {
    width: 60px; /* Smaller logo for mobile */
  }

  .optionBrew-Name {
    font-size: 1.5em; /* Smaller text for mobile */
  }

  .quick-link {
    font-size: 1em; /* Smaller text for mobile */
    margin: 0 10px; /* Less space between links on mobile */
  }

  .navbar {
    padding: 10px 20px; /* Adjust padding for smaller screens */
  }
}
