.navbar {
  background-color: white; /* Sets the background color to white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a subtle drop shadow */
  padding: 10px 35px; /* Increase padding for more space around the items */
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: start; /* Align items to the start of the container */
  max-width: 1200px; /* Adjust max width as needed */
  margin: 0 auto; /* Centers nav-container within the navbar */
}

.navbar-logo {
  margin-right: 20px; /* Add some margin to the right of the logo */
  margin-bottom: 25px;
  cursor: pointer;
}

.navbar-logo .logo-video {
  width: 120px; /* Increase width as needed */
  height: auto; /* Keep aspect ratio */
}

.optionBrew-Name {
  font-size: 1.5em; /* Increase font size */
  font-weight: 700; /* Maintain bold font-weight */
  margin: 0 20px 0 0; /* Adjust margin to space out the brand name */
}

.highlighted-word {
  color: #dd9450;
  font-weight: 900;
}

.quick-links {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push links to the right */
}

.quick-link {
  text-decoration: none;
  color: #000000; /* Text color */
  font-size: 1.2em; /* Increase font size for links */
  font-weight: bold; /* Bold font for links */
  margin: 0 20px; /* Evenly space links */
  padding: 10px 0; /* Padding for clickable area */
}

/* If you want a hover effect for the links */
.quick-link:hover {
  color: #555; /* Subtle change for hover */
}

.active-link {
  color: #dd9450;
}
